.game {
    margin: 0 auto;
    text-align: center;
    width: 100%;
}

.container {
    max-width: 500px;
    margin: 0 auto;
}

.game__board {
    list-style: none;
    width: 500px;
    height: 500px;
    display: flex;
    flex-wrap: wrap;
    border: 1px solid #000;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.game__tile {
    border: 1px solid #000;
    box-sizing: border-box;
    width: 166px;    
    height: 166px;
    display: inline-block;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 70px;
    user-select: none;
}

.game__tile:hover {
    background-color: rgb(235, 235, 235);
    cursor: pointer;
}
